* {
    background: yellow;
}

h1 {
    padding-top: 50px;
    border: 2px solid #000;
    text-align: center;
    width: 200px;
    padding: 5px;
    margin: 20px auto;
    background: white;
    border-radius: 150px;
}


.container {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    gap: 2em;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: center;    
}

.item {
    border: solid black;
    width: 250px;
    height: 200px;
    background: white;
    border-radius: 40px;
}
